################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hash-functions-and-authentication/v15/.suo
/.vs/Hash-functions-and-authentication/v15/Browse.VC.db
/.vs/Hash-functions-and-authentication/v15/Browse.VC.opendb
/.vs/Hash-functions-and-authentication/v15/ipch/AutoPCH/6cdad27dc0e457cd/SERVER.ipch
/.vs/Hash-functions-and-authentication/v15/ipch/AutoPCH/cd4aa0917088b498/CLIENT.ipch
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
